/ render into layout or render just content block if request is AJAX
- extends "base.html" unless request.ajax?

/ head
- block(:title, "Rango Blog")
- block(:description, "Example blog application in Rango")
- block(:keywords, "rango,example")

/ body
= block(:content) do
  - posts.each do |post|
    .post= link_to(post.title, url(:post, post.slug))
